body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: skyblue;
}

/* main/footer */

main{
  min-height: 100%;
   margin-bottom: -55px;
}

main:after {
    content: "";
    display: block;
    height: 55px;
}

footer{
  z-index: 50;
  height: 55px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.icon, a{
  z-index:50;
  cursor:pointer;
  margin-right: 10px;
  height: 40px;
  transition: all .3s ease-in-out;;
}

.icon:hover{
  transform: scale(1.09);
}

/* main/footer */

/* fish */

/* fish */
